<% layout("/layouts/boilerplate") %> 
    <h1>Terms and conditions:</h1>
    <div class="content">
        <ol>
            <li>Users are allowed to use bad words or abusive words freely! </li>
            <li>They can for sure hack the website since it is free and a demo project. But make sure you tell the owner Mr.Hardik Mahajan about it.</li>
            <li>Violation of normal ethics and other terms and uses is strictly allowed and the ones not violating will be blacklisted .</li>
            <li>Lastly, Enjoy your ride and have a bad day!</li>
        </ol>
    </div>
    <div>Asshole </div>
