<% layout("/layouts/boilerplate") %> 
    <h1>Terms and conditions:</h1>
    <div class="content">
        <ol>
            <li>Users are not allowed to use abusive words. </li>
            <li>Violation of normal ethics and other terms and uses is strictly not allowed and the ones violating will be blacklisted .</li>
            <li>Lastly, Enjoy your bookings and have a Good Day!</li>
        </ol>
    </div>
    <div>Thank you </div>
